{% extends "layout.html" %}

{% block content %}

<head>
    <title>Contact Page</title>
</head>

<body>

    <h1>Contact Us</h1>
    <p>We are dedicated to making Let's Play a fun and enjoyable website for everyone to use.</p>
    <p> If you are having any issues, concerns, or have ideas on how to imrpove the site, please contact the Let's Play team.</p>
    <a href="mailto:letsplaysupport@gmail.com"> Email: letsplaysupport@gmail.com</a>
    <p></p> <!--This proviceds a space between the note and the email support link-->
    <p>Note: This email address if for site specific issues, if there is any other reason you would need to contact us, use one of  
        our personal contacts' on the <a href="about.html"> about page.</a></p>

    {% endblock %}