<!DOCTYPE html>
<html lang="en">

{% block content %}

<html>
<head>
<style>
    body {background-color: rebeccapurple} 
    h1 {color: white; font-size: 60px; text-align: center;}
    p {color: white; font-size: 30px;}
    a {color: white; font-size: 25px; font-weight: bold;}
</style>
    <title>Contact Page</title>
</head>

<body>

    <h1>Contact Us</h1>
    <p>We are dedicated to making Let's Play a fun and enjoyable website for everyone to use.</p>
    <p> If you are having any issues, concerns, or have ideas on how to imrpove the site, please contact the Let's Play team.</p>
    <p>Note: This email address if for site specific issues, if there is any other reason you would need to contact us, use one of  
       our personal contacts' on the <a href="about.html" style="color: white; font-size: 30px; font-weight: normal;"> about page.</a></p>
    <a href="mailto:letsplaysupport@gmail.com"> Email: letsplaysupport@gmail.com</a>

    {%endblock%}
</body>
</html>