
{% extends "layout.html" %}
{% block content %}
    {% for post in posts.items %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
            <div class="media-body">
              <div class="article-metadata">
                <h5 class="username" style="text-decoration: none; color: rgb(136,153,166);"> <a stlye="color:rgb(136,153,166);" href="{{url_for('users.user_page', username=post.author.username) }}">{{ post.author.username }}</a> </h5>
                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
              </div>
              <h1> {{ post.game }}</h1>
              <h2><a class="article-title" href="{{url_for('posts.post', post_id=post.id )}}">{{ post.title }}</a></h2>
              <p class="article-content">{{ post.content }}</p>
            </div>

            {% if post.author == current_user %}
            <div>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
        {% endif %}
        </article>

        
        <!-- Delete Modal -->

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModal"> Delete Post?</h5>
              </div>
              <div class="modal-body">
                <p class="delete-text" >This can't be undone and it will be removed from your profile and the timeline </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
              </div>
            </div>
          </div>
        </div>







    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
      {% if posts.page==page_num %}
        <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
      {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
      {% endif %}
    {% else %}
        ...
      {% endif %}
    {% endfor %}


{%endblock%}

