

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/landing_page.css">

    <title>Lets Play</title>
</head>
<body>

<style>
  p {
    font-weight: bold;
    font-size: 16pt;
  }

  h1 {
    color: rgb(80,216,215);
    font-size: 34pt;
    position: relative;
    bottom: 100px;
  }
</style>

{% block content %}

    <!-- Left split screen -->
    <div class="split left">
        <div class="centered">
          <img src= "/static/misc_images/logo.png" width="100%">
          <h2><br>Naive Monster</h2>
          <p>Looking for friends or people who share your hobbies?
          <br>Then sign up for Let's Play and start meeting interesting and fantastic people!</p> 
        </div>
      </div>
      


    <!-- right split screen -->
      <div class="split right">


        <div class="centered">
          <h1>LET'S PLAY</h1>
            <div class="register-content">
                <a class="login-register-button" href="{{ url_for('users.register')}} ">Register</a>
            </div>

            <div class="login-content">
                <a class="login-register-button" href="{{ url_for('users.login')}} ">Login</a>
            </div>
            
         
        </div>

      </div> 

    
      {% endblock %}
</body>
</html>



