


body {
    background-color: rgb(21,33,40);
    background-size: 400% 400%;
    margin-top: 5rem;
    font-family: Helvetica;
  }


  h1, h2, h3, h4, h5, h6, p {
    color: #ffffff;
  }

  .bg-steel {
    background-color: rgb(80,216,215);
  }

  /* .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }

  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }

  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  } */




  .nav-bar-title, .nav-bar-title:hover {
    color: #152128;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 20px;
    font-stretch: 100%;
    font-weight: 700;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }


  .nav-bar-item, .nav-bar-item:hover {
    color: #152128;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 15px;
    font-stretch: 100%;
    font-weight: 700;
    align-items: center;
    cursor: pointer;
    text-decoration:none
  }

  .content-section {
    background: #152128;;
    padding: 10px 20px;
    border: 1px solid rgb(37, 51, 65);
    border-radius: 3px;
    margin-bottom: 20px;
    color: #ffffff;
  }

  .article-title:hover {
    color: #ffffff;
    text-decoration: underline;
  }

  .article-content {
    white-space: pre-line;
  }

  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }

  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid rgb(37, 51, 65);
  }

  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }

  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }

  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

  .account-heading {
    font-size: 2.5rem;
  }


  #deleteModal, .modal-content, .modal-header, .modal-title, .modal-footer{
    background-color: rgb(21, 32, 43);
  }
  .delete-text {
    color: rgb(136,153,166);
  }
  .modal-title {
    color: #ffffff;
  }



/* Profile page CSS
        TODO: Style profile content css 
        
        
        */

  .username, .user-details {
    color: rgb(136,153,166) !important;
  }

  .edit-profile-btn{
    position: absolute;
    top: 0px;
    right: 15px;
    color: rgb(80,216,215) !important;
  }


